*~
.DS_Store
public/
bibliography/auto/
bibliography/bibliography.bib
bibliography/*.aux
bibliography/*.bbl
bibliography/*.bcf
bibliography/*.blg
bibliography/*.fdb_latexmk
bibliography/*.fls
bibliography/*.log
bibliography/*.out
bibliography/*.pdf
bibliography/*.run.xml
