{% extends "section-base.html" %}

{% block section_content %}
<ul id="conference-list">
  {% set year = "3000" %}
  {% for page in section.pages %}
  {% set conf_year = page.date | date(format="%Y") %}
  {% if year != conf_year %}
  <h3>{{ conf_year }}</h3>
  {% endif %}
  {% set_global year = conf_year %}
  <li class="conference">
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {{ page.extra.location }},
    {{ page.date }}–{{ page.extra.enddate }}
    {% if page.extra.invited_talk %}{{ <show_entries entries={page.extra.invited_talk} kind="Invited talk"/> }}{% endif %}
    {% if page.extra.talk %}{{ <show_entries entries={page.extra.talk} kind="Talk"/> }}{% endif %}
    {% if page.extra.poster %}{{ <show_entries entries={page.extra.poster} kind="Poster"/> }}{% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock section_content %}
